<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="users" id="1" javaclass="com.wm.util.Values">
    <record name="Administrator" id="2" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="3">Administrator</value>
      <value name="pass" id="4">(secret)</value>
      <value name="passHash" id="5">{sha-256_v2}YF7Hj3T74tIrVZVI+D4i5HpoHXvtL169s1YMOKy7lh6PQ2lkWhIRrzAxMDAw</value>
      <record name="members" id="6" javaclass="com.wm.util.Values">
        <value name="Replicators" id="7">Replicators</value>
        <value name="Administrators" id="8">Administrators</value>
        <value name="Everybody" id="9">Everybody</value>
      </record>
      <value name="enabled" id="10">true</value>
      <value name="allowDigestAuth" id="11">false</value>
      <value name="passwordUpdatedOn" id="12">2022-02-28 18:15:48 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="13">
      </array>
    </record>
    <record name="mahender" id="14" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="15">mahender</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="16">{sha-256_v2}0u1oIrjIW1OxBoOppbyjJJoAQBWcK7nsUrcObviKz6XIhj/AMXGnojAxMDAw</value>
      <record name="members" id="17" javaclass="com.wm.util.Values">
        <value name="cicdGroup" id="18">cicdGroup</value>
        <object idref="8" name="Administrators"/>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="19">2022-03-15 19:49:30 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="20">
      </array>
    </record>
    <record name="testCICD" id="21" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="22">testCICD</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="23">{sha-256_v2}5JXzeANMSwbS//hH+ZtZdo6znpfxGSWwyxQ9s2wl8QV62kCpj1dX9zAxMDAw</value>
      <record name="members" id="24" javaclass="com.wm.util.Values">
        <object idref="18" name="cicdGroup"/>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="25">2022-04-06 12:38:34 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="26">
      </array>
    </record>
    <record name="Replicator" id="27" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="28">Replicator</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="29">{sha-256_v2}nAyrbwp4MRTOfpMNpprbVizJXQvQj3sfGHMsHOK7uZth/3VPzX3A/jAxMDAw</value>
      <record name="members" id="30" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <object idref="12" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="31">
      </array>
    </record>
    <record name="Developer" id="32" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="33">Developer</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="34">{sha-256_v2}jcQP1jc4qx0mZ+mizzfvThjC/IYJOqKn0lO+MnJd7ZwPzzx6OgO/hzAxMDAw</value>
      <record name="members" id="35" javaclass="com.wm.util.Values">
        <value name="Developers" id="36">Developers</value>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <object idref="12" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="37">
      </array>
    </record>
    <record name="Default" id="38" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="39">Default</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="40" javaclass="com.wm.util.Values">
        <value name="Anonymous" id="41">Anonymous</value>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="42">2022-02-28 18:15:47 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="43">
      </array>
    </record>
    <record name="mahender2" id="44" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="45">mahender2</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="46">{sha-256_v2}KoRaSdXjIpuiuyc1B9V+jn8fcr1a5I3VdyEjx2SHzsavpzW1/EzjUTAxMDAw</value>
      <record name="members" id="47" javaclass="com.wm.util.Values">
        <value name="cicdgrp2" id="48">cicdgrp2</value>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="49">2022-03-16 20:18:04 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="50">
      </array>
    </record>
    <record name="mahender1" id="51" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="52">mahender1</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="53">{sha-256_v2}EKO67Yc4l49lCxyWK3oUaHfgYgV5JhhQ6dHCkR7OKTiHmM+I/cWrjjAxMDAw</value>
      <record name="members" id="54" javaclass="com.wm.util.Values">
        <value name="cicdgrp1" id="55">cicdgrp1</value>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="56">2022-03-16 20:17:49 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="57">
      </array>
    </record>
  </record>
  <record name="groups" id="58" javaclass="com.wm.util.Values">
    <record name="cicdgrp2" id="59" javaclass="com.wm.app.b2b.server.Group">
      <object idref="48" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="60" javaclass="com.wm.util.Values">
        <object idref="45" name="mahender2"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Replicators" id="61" javaclass="com.wm.app.b2b.server.Group">
      <object idref="7" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="62" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="28" name="Replicator"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Developers" id="63" javaclass="com.wm.app.b2b.server.Group">
      <object idref="36" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="64" javaclass="com.wm.util.Values">
        <object idref="33" name="Developer"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="cicdGroup" id="65" javaclass="com.wm.app.b2b.server.Group">
      <object idref="18" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="66" javaclass="com.wm.util.Values">
        <object idref="15" name="mahender"/>
        <object idref="22" name="testCICD"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="cicdgrp1" id="67" javaclass="com.wm.app.b2b.server.Group">
      <object idref="55" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="68" javaclass="com.wm.util.Values">
        <object idref="52" name="mahender1"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Administrators" id="69" javaclass="com.wm.app.b2b.server.Group">
      <object idref="8" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="70" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="15" name="mahender"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Anonymous" id="71" javaclass="com.wm.app.b2b.server.Group">
      <object idref="41" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="72" javaclass="com.wm.util.Values">
        <object idref="39" name="Default"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Everybody" id="73" javaclass="com.wm.app.b2b.server.Group">
      <object idref="9" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="74" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="15" name="mahender"/>
        <object idref="22" name="testCICD"/>
        <object idref="28" name="Replicator"/>
        <object idref="33" name="Developer"/>
        <object idref="39" name="Default"/>
        <object idref="45" name="mahender2"/>
        <object idref="52" name="mahender1"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
  </record>
  <object idref="73" name="allusers"/>
  <object idref="2" name="adminUser"/>
  <object idref="38" name="defUser"/>
</Values>
