<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="users" id="1" javaclass="com.wm.util.Values">
    <record name="Administrator" id="2" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="3">Administrator</value>
      <value name="pass" id="4">(secret)</value>
      <value name="passHash" id="5">{sha-256_v2}qZs3PmyLsVqorMzXhmsA7vcUamlsTXexz5A7WbDPLw6RyAuf26/EXjAxMDAw</value>
      <record name="members" id="6" javaclass="com.wm.util.Values">
        <value name="Replicators" id="7">Replicators</value>
        <value name="Administrators" id="8">Administrators</value>
        <value name="Everybody" id="9">Everybody</value>
      </record>
      <value name="enabled" id="10">true</value>
      <value name="allowDigestAuth" id="11">false</value>
      <value name="passwordUpdatedOn" id="12">2022-04-06 14:47:26 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="13">
      </array>
    </record>
    <record name="Replicator" id="14" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="15">Replicator</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="16">{sha-256_v2}v0F6cFrxu6Th+mqwbnHtKTo9qeDqYD4Ki2KIR0NU73dd1YEtjeiPBzAxMDAw</value>
      <record name="members" id="17" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="18">2022-04-06 14:47:27 IST</value>
      <array name="passwordHistory" type="record" depth="1" id="19">
      </array>
    </record>
    <record name="Developer" id="20" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="21">Developer</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="22">{sha-256_v2}+dbwoiT/oGsEQPpqKo2KdFrdCG9rAZTMxgJOPTe0eEBM/XeIzJtg1zAxMDAw</value>
      <record name="members" id="23" javaclass="com.wm.util.Values">
        <value name="Developers" id="24">Developers</value>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <object idref="18" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="25">
      </array>
    </record>
    <record name="Default" id="26" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="27">Default</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="28" javaclass="com.wm.util.Values">
        <value name="Anonymous" id="29">Anonymous</value>
        <object idref="9" name="Everybody"/>
      </record>
      <object idref="10" name="enabled"/>
      <object idref="11" name="allowDigestAuth"/>
      <object idref="12" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="30">
      </array>
    </record>
  </record>
  <record name="groups" id="31" javaclass="com.wm.util.Values">
    <record name="Replicators" id="32" javaclass="com.wm.app.b2b.server.Group">
      <object idref="7" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="33" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="15" name="Replicator"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Developers" id="34" javaclass="com.wm.app.b2b.server.Group">
      <object idref="24" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="35" javaclass="com.wm.util.Values">
        <object idref="21" name="Developer"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Administrators" id="36" javaclass="com.wm.app.b2b.server.Group">
      <object idref="8" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="37" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Anonymous" id="38" javaclass="com.wm.app.b2b.server.Group">
      <object idref="29" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="39" javaclass="com.wm.util.Values">
        <object idref="27" name="Default"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
    <record name="Everybody" id="40" javaclass="com.wm.app.b2b.server.Group">
      <object idref="9" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="41" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="15" name="Replicator"/>
        <object idref="21" name="Developer"/>
        <object idref="27" name="Default"/>
      </record>
      <object idref="10" name="enabled"/>
    </record>
  </record>
  <object idref="40" name="allusers"/>
  <object idref="2" name="adminUser"/>
  <object idref="26" name="defUser"/>
</Values>
